[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
mysqlclient = "*"
django-debug-toolbar = "*"
drf-nested-routers = "*"
django-cors-headers = "*"
djoser = "*"
djangorestframework-simplejwt = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.10"
